#app {
  color: #4f5eab;
}

body {
  background-color: #4f5eab;
  color: #ffffff;
}

/* Set up big text in the header */
.header {
  background-color: #5c72cc; /* IACS Blue */
  color: #ffffff;
}

.question {
  background-color: #5c72cc; /* IACS Blue */
  color: #ffffff;
}

/* Set the controls up fixed at the bottom */
.controls {
  background-color: #5c72cc;
  border-top: 1px solid #3e64bb;
	color: #ffffff;
}

/* Make the buttons stylish */
button {
  background-color: #415bc5;
  color: #ffffff;
  border: 3px solid #325198;
}

/* Wrong Color */
.wrong {
  color: #d6f5ff;
  background-color: #b31a1a;
	border: #962929;
}

.right {
	color: #f0fff6;
	background-color: #32a332;
	border: #348734;
}