/* Header hover */
.header:hover {
	background-color: #42639a;
  color: white;
	transform: scale(1.05,1.05);
}

/* Button highlight */
.highlight {
  color: #42639a; /* IACS red */
  text-shadow: 3px 3px white;
  font-weight: bold;
  font-family: Futura;
}

/* Question hovering */
.question:hover {
	background-color: #42639a;
  color: white;
	transform: scale(1.02,1.02);
}

/* Control hovering */
.controls:hover {
	background-color: #42639a;
  color: white;
	transform: scale(1.05,1.05);
}

/* Change color when the mouse hover */
button:hover {
  background-color: #42639a;
  color: white;
	transform: scale(1.1,1.1);
}

.wrong:active,.wrong:hover {
  transform: scale(0.7)rotate(5deg);
  /* Take a half second to do the transition */
  transition: all 500ms;
  /* Wait a half second to transition, as if
  we're "thinking" about the answer */
  transition-delay: 500ms;
}
.right:active,.right:hover {
	transform: scale(1.5)rotate(5deg);
  /* Take a half second to do the transition */
  transition: all 500ms;
  /* Wait a half second to transition, as if
  we're "thinking" about the answer */
  transition-delay: 500ms;
}